@model IEnumerable<ApplicationUsers>

@{
    ViewData["Title"] = "List of Voters";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container bg-white p-4" style="box-shadow: 0 4px 8px rgba(0,0,0,0.3);">
    <div class="pt-4 pb-2">
        <h3>@ViewData["Title"]</h3>
    </div>
    <hr />
    <div class="pb-3">
    </div>
    <div class="table-responsive">
        <table class="table table-striped p-3" id="example">
            <thead>
                <tr class="bg-secondary">
                    <th>User Id</th>
                    <th>Photo</th>
                    <th>Full Name</th>
                    <th>Date of Birth</th>
                    <th>Age</th>
                    <th>Sex</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>

                                <img src="~/img/user/@item.Photo" style="width: 50px; height: 50px;" />
                            </td>

                            <td>@item.FullName</td>
                            <td>@item.DateOfBirth</td>
                            <td>@item.Age</td>
                            <td>@item.Sex</td>
                            <td>
                                <a asp-controller="Voters" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">View</a>
                                <a asp-controller="Voters" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>