@model IEnumerable<ElectionEvent>

@{
    ViewData["Title"] = "Election Event";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container bg-white p-4" style="box-shadow: 0 4px 8px rgba(0,0,0,0.3);">
    <div class="pt-4 pb-2">
        <h3>@ViewData["Title"]</h3>
    </div>
    <hr />
    <div class="mb-3 mt-4 d-flex justify-content-between">
        <a asp-controller="ElectionEvent" asp-action="Create" class="btn btn-dark mb-4">Create New Event</a>
        <a asp-controller="ElectionEvent" asp-action="ResetData" class="btn btn-danger mb-4">Reset Data</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped p-3" id="example">
            <thead>
                <tr class="bg-secondary">
                    <th>Event Id</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.EventId</td>
                            <td>@item.StartDate</td>
                            <td>@item.EndDate</td>
                            <td>
                                <a asp-controller="ElectionEvent" asp-action="Edit" asp-route-id="@item.EventId" class="btn btn-primary">Edit</a>
                                <a asp-controller="ElectionEvent" asp-action="Delete" asp-route-id="@item.EventId" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
    
    @*<div class="modal fade" id="myModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>RReset Election Event</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want the reset the election event?</p>
                </div>
                <div class="modal-footer">
                    <form>
                        <button class="btn btn-danger">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>*@
</div>